<!-- Scenario A --> 
<!-- You have an input tag and would like to make sure that the username field can only take a maximum of 15 characters. What would be the best way to implement this only using HTML. -->

<!-- Solution A -->
<input maxlength="15"> 

<br>
<br>

<!-- Reference 1 -->

<!-- https://www.tutorialspoint.com/How-to-limit-the-number-of-characters-allowed-in-form-input-text-field#:~:text=We%20use%20tag%20to,use%20maxlength%20attribute. -->

<!-- Reference 2 -->
<!-- https://www.dofactory.com/html/maxlength -->


<!-- Scenario B -->
<!-- You have an image and the picture you’re trying to show is only available online and your website displays a broken image with no information. You would like to display an alternative text instead when the image is not available. What can you use to achieve this output? -->


<!-- Solution B -->
<img alt="This is the alternative text when the image is not available">

<!-- Reference 1 -->
<!-- https://www.w3schools.com/tags/att_img_alt.asp#:~:text=The%20required%20alt%20attribute%20specifies,user%20uses%20a%20screen%20reader). -->

<!-- Reference 2 -->
<!-- https://www.dofactory.com/html/images -->


<!-- Scenario C -->
<!-- You have a website that you would like to display certain text as code so it’s easily readable by your users. What can you use to display code not as plain text but something similar to code written in a text editor? -->

<!-- Solution C -->
<code></code>
<p>This is the <code>display text as code so it’s easily readable by the users</code> 

<!-- Reference 1 -->
<!-- https://www.w3schools.com/tags/tag_code.asp -->

<!-- Reference 2 -->
<!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/code -->


<!-- Stretch Goal -->
<!-- You would like to have a self auto-scrolling image in your application to display multiple pictures in your website. A friend mentioned that you could use a CSS framework to get the job done. What could you use to quickly implement this in a matter of minutes? -->

<!-- Solution -->
<div id="slideshow">
  <div>
    <img src="">
  </div>

  <div>
    <img src="">
  </div>
</div>

<!-- Reference -->
<!-- https://css-tricks.com/snippets/jquery/simple-auto-playing-slideshow/ -->
<!-- https://css-tricks.com/infinite-all-css-scrolling-slideshow/ -->