* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

nav {
	position: sticky;
	top: 0;
	background-color: white;
	border-bottom: 1px solid lightgray;
	width: 100vw;
}

ul {
	padding: 0.8rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-top: 1px solid lightgray;

}

.right-nav .nav {
	font-weight: bold;
	font-size: 0.8rem;
	margin: 1rem;
	display: inline;
	width: 20%;
}

.nav-logo {
	float: left;
	margin-right: 20.5rem;
	margin-left: 10rem;
	list-style: none;
}
.tuitt-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 0.7rem;
	padding-left: 0.9rem;
	padding-right: 0.9rem;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	border: 0;
}

#bg-image {
	height: 50vh;
	width: 100vw;
	background-position: center;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
}
.front-bg {
	width: 100vw;
	height: 50vh;
background-color: rgba(0, 0, 0, 0.5);
}

.title {
	color: white;
	font-family: Zilla Slab;
	font-size: 2.5rem;
	width: 45vw;
	text-align: right;
	margin-left: 38.5rem;
}

.subtitle {
	font-weight: initial;
	color: white;
	text-align: right;
	width: 30vw;
	margin-top: 2rem;
	margin-left: 51rem;
	font-size: 1rem;
	}

.apply-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 50px;
	font-size: 0.9rem;
	padding: 0.5rem;
	border: 0;
	margin-left: 67.5rem;
	margin-top: 1rem;
	padding-left: 2rem ;
	padding-right: 2rem ;
	padding-top: 0.5rem ;
	padding-bottom: 0.5rem ;
}

.title-2 {
	font-family: Zilla Slab;

	text-align: center;
	margin-top: 3rem;
	margin-bottom: 3rem;
	
}

.intro-description {
	text-align: left;
	width: 62vw;
	margin-left: 18rem;
	margin-bottom: 10rem;
	font-size: 0.9rem;
	
}

html {
	height: 175vh;
}

.pre-footer  {
	background-color: #f7fbfb;
}

.prefooter-description {
	text-align: center;
	margin-left: 10rem;
	width: 65rem;
	margin-top: 8rem;
}


.book-button
{
	background-color: #336589;
	color: white;
	border-radius: 50px;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	font-weight: bold;
	margin-left: 39rem;
	margin-top: 2rem;
	margin-bottom: 7rem;
	border: 0;
}

footer {
	text-align: center;
	margin-top: 2rem;
}