*{
	font-family: "Courier New"; font-size: 20px;
}

h1{
	font-size: 40px ;
}
#h2 {
	text-transform: uppercase;
}

.lang{
	background-color: green;
}

ol [name] {
	border-width: 2px;
	border-style: solid;
}

img + ul {
	list-style-type: none;
}

section img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}
h4 ~ p {
	text-align: center;
}

body > section > ul {
	letter-spacing: 20px;
}